* {
    margin: 0;
    padding: 0;
}

body {
    width: 512px;
    margin: 20px;
}

header {
    margin: 10px;
}

.text{
    padding: 1rem;
    border: solid;
    display: inline-block;
    margin: 8px 50px 8px 50px;
    
}

hr{
    margin: 10px;
}
