* {
    margin: 0;
    padding: 0;
}

body {
    width: 512px;
    margin: 20px;
}

header {
    margin-bottom: 5px;
    border-bottom: double;
    padding-bottom: 8px;
    padding-left: 13px;
}

.text{
    padding: 1rem;
    border: 2px solid;
    display: inline-block;
    margin: 7px 50px 15px 50px;
    
}

footer{
    border-top: double;
    padding: 10px;
}
